build/

.vscode/
.ipynb_checkpoints/
__pycache__/
*.py[cod]

dist/
*.egg-info

script_local/
jupyter_local/
/.claude

/llamafactory_env
data/converted/merged_graphinstruct.json
data/training/
data/test